
.admin-container {
    display: flex;
    min-height: 95vh;
}

.admin-sidebar {
    flex: 0 0 50px; /* Fixed width for the sidebar */
    color: #fff;
}

.admin-content {
    flex: 1; /* Take up the remaining space */
    padding: 20px;
    background-color: #f4f4f4;
}

@media (max-width: 768px) {
    .admin-container {
        flex-direction: column; /* Stack sidebar on top of content on smaller screens */
    }

    .admin-sidebar {
        display: none;
        /* flex: 0 0 auto;
        width: 100%;  */
        /* Full width sidebar on smaller screens */
    }

    .admin-content {
        flex: 1 0 auto;
        width: 100%;
    }
}


.createSchedule {
    background-color: white;
    /* box-shadow: 0px 2px 4px #EAECF1; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.header h6 {
    font-size: 20px;
    font-weight: bold;
}

.header h4 {
    font-size: 16px;
    font-weight: bold;
}

.header button,
.addNewUserBtn {
    background-color: #2B8700;
    color: white;
    font-size: 12px;
}

.header button:hover,
.generateScheduleBtn:hover,
.addBtn:hover,
.room-addBtn:hover,
.addNewUserBtn:hover {
    background-color: #1F6100;
    color: white;
}

.closeBtn {
    display: none;
}

.uploadCsv-container {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it overlays other elements */
    justify-content: center;
    align-items: center;
}

.examTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.examTitle,
.examDate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.examTitle {
    width: 562px;
}

.examDate {
    width: 370px;
}

.examTitleContainer img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 178px;
    padding: 5px;
    padding-right: 30px;
    /* Space for the icon */
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}

.dropdown-container .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown-input {
    width: 178px;
    padding: 5px;
    padding-right: 30px;
    /* Space for the icon */
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}

.no-icon-right {
    padding-right: 12px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #999;
}

.type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 10px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button {
    border: none;
    background-color: white;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.type-btn-selected {
    display: flex;
    width: 170px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 3px solid var(--accent, #2B8700);
    color: #2B8700;
}

.type button {
    font-size: small;
    font-weight: bold;
}

.type button:hover {
    color: #2B8700;
    font-size: small;
    font-weight: bold;
}

.normalBtn {
    display: flex;
    width: 170px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #2b870087;
}

/* Hide all containers by default */
.facultyLoad-container,
.examVenue-container,
.generateSchedule-container {
    display: none;
}

/* Show only the generate schedule container by default */
.generateSchedule-container {
    display: block;
}

.search-bar {
    display: flex;
    align-items: center;
}

#searchInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 4px;
    padding-left: 10px;
    font-size: small;
    transition: border-color 0.3s ease;
    outline: none;
}

#searchInput:focus {
    border: 2px solid #2B8700;
}

#searchbtn {
    background-color: #2B8700;
    border: none;
}

#searchbtn {
    margin-left: -1px;
}

#searchbtn:first-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-print {
    margin-left: 20px;
}

#searchInput {
    flex: 1;
}

#searchInput::placeholder {
    font-size: small;
}

.dataset-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    margin-bottom: 10px;
}

.datasetStatus {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.datasetStatus-header {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
}

.statusContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.statusTitle,
.statusTitle-value {
    color: #000;
    font-family: Inter;
    font-size: 10px;
}

.totalErrorContainer {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid #000;
}

.totalErrorContainer span {
    font-weight: 500;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 29rem);
    /* max-height: 40vh; */
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #C0C0C2;
}

.table th,
.table td {
    border: 1px solid #C0C0C2;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    width: 10%;
}

.table thead th {
    background-color: #2B8700;
    color: white;
    font-size: 10px;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #2b87005e;
}

.table tbody tr:nth-child(even) {
    background-color: #2b87000c;
}

.table tbody td .action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.edit-btn,
.delete-btn {
    background-color: #2B8700;
    color: white;
    border: none;
    padding: 1px 1px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background-color: #d9534f;
}

.generateScheduleBtn,
.addBtn,
.room-addBtn {
    display: flex;
    width: 178px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 5px;
    background: var(--accent, #2B8700);
    color: white;
    font-size: 12px;
}

.facultyLoad,
.examVenue {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.facultyLoad-sidebar,
.examVenue-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
}

.instructor,
.section,
.courseCode,
.classSize,
.roomForExam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.inputs-row {
    display: flex;
    gap: 10px; /* Adjust the gap between the input containers as needed */
}

.classSize {
    margin-bottom: 20px;
}

/* Media Query for screens less than 768px */
@media (max-width: 1024px) {
    /* .header {
        margin-bottom: 10px;
    } */

    .examTitleContainer {
        width: 100%;
    }

    .examTitle,
    .examDate {
        flex-wrap: wrap;
        width: 100%;
    }

    .dropdown-container {
        flex: 1;
        min-width: 150px;
    }

    .dropdown-input {
        width: 100%;
        box-sizing: border-box;
    }

    .type-container {
        flex-direction: column;
        width: 100%;
    }

    .type,
    .search-bar {
        flex-wrap: wrap;
        width: 100%;
    }

    .generateSchedule,
    .normalBtn {
        flex: 1;
        padding: 8px;
        border: none;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
    }

    .generateScheduleBtn {
        width: 100%;
    }

    .dataset-container {
        flex-direction: column;
        width: 100%;
    }

    .datasetStatus {
        width: 100%;
        gap: 5px;
    }

    .statusContainer {
        width: 100%;
    }

    .totalErrorContainer {
        width: 100%;
        padding-top: 10px;
    }

    .table th,
    .table td {
        text-align: center;
    }

    .header h6,
    .dropdown-input,
    .datasetStatus-header,
    .statusTitle,
    .statusTitle-value,
    .table thead th {
        font-size: small;
    }

    .generateSchedule,
    .normalBtn,
    #searchInput,
    .statusTitle,
    .statusTitle-value {
        font-size: x-small;
    }
}

.createSchedule-container,
.userManagement-container,
.announcementControl-container,
.makeAnnouncement-container {
    display: none;
}