
#sidebar-btn {
    margin-top: 1rem;
    margin-right: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    color: white;
    border-radius: 0px 25px 25px 0px;
    padding: 0.5rem; 
    transition: width 0.3s;
    justify-content: space-between;
}

#sidebar-btn p {
    margin: 0;  
    padding: 0;
    width: fit-content;
    text-align: left;
    display: inline-block; /* Ensure the width fits the content */
    white-space: nowrap;
}

#sidebar-btn img {
    margin-left: 0.5rem;
}

#arrow-right {
    display: block;
}

#arrow-left {
    display: none;
}

#sidebar-btn:hover {
    background-color: var(--main-color-hover)
}

#sidebar-history {
    display: none; 
    width: 276px;
    height: 95%;
    background-color: var(--grey-button);
    padding: 0.5rem; 
    transition: display 0.3s ease-in-out;
    flex-direction: column;
}

#sidebar-history a {
    text-decoration: none;
    color: #000;
}

#sidebar-history a:hover {
    color: white;
}

.holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    background-color: none;
    align-items: center;
    font-size: 14px;
    background-color: rgba(128, 128, 128, 0);
}

.holder:hover {
    background-color: var(--grey-button-hover);
    border-radius: 0px 5px 5px 0px;
    border-left: 5px solid #2B8700;
    color: white;
}

.holder span{
    font-size: small;
}

.holder-selected {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border-left: 5px solid #2B8700;
}

.sidebar-history.flex {
    display: flex; /* Show sidebar when needed */
}

.holder.selected {
    background-color: white;
    border-left: 5px solid #2B8700;
}


.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #0080ff;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

a.sidebar-link:hover {
    padding: .625rem 1.625rem;
    color: #538750;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #0080ff;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

a.sidebar-link:hover {
    padding: .625rem 1.625rem;
    color: #538750;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}