<div class="facultyLoad">
    <div class="facultyLoad-sidebar">
        <div class="instructor">
            <span class="datasetStatus-header">Instructor</span>

            <div class="dropdown-container">
                <input type="text" name="instructor" placeholder="Faculty Name" class="dropdown-input">
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>
            <div class="dropdown-container">
                <!-- <input type="text" name="facultyStatus" placeholder="Faculty Designation" class="dropdown-input"> -->
                <select name="facultyDesignation" class="dropdown-select">
                    <option value="" disabled selected>Faculty Designation</option>
                    <option value="instructor">Instructor</option>
                    <option value="dean">Dean</option>
                </select>
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>

        </div>
        <div class="section">
            <span class="datasetStatus-header">Section</span>

            <div class="dropdown-container">
                <input type="text" name="program" placeholder="Program" class="dropdown-input">
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>
            <div class="dropdown-container">
                <!-- <input type="text" name="year" placeholder="Year" class="dropdown-input"> -->
                <select name="year" class="dropdown-select">
                    <option value="" disabled selected>Year</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>

            <div class="dropdown-container">
                <input type="text" name="set" placeholder="Set" class="dropdown-input">
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>
        </div>

        <div class="courseCode">
            <span class="datasetStatus-header">Course Code</span>
            <div class="dropdown-container">
                <input type="text" name="courseCode" placeholder="Course Code" class="dropdown-input">
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>
            <div class="dropdown-container">
                <!-- <input type="text" name="examType" placeholder="Exam Type" class="dropdown-input"> -->
                <select name="examType" class="dropdown-select">
                    <option value="" disabled selected>Exam Type</option>
                    <option value="written">Written</option>
                    <option value="laboratory">Laboratory</option>
                    <option value="performance">Performance</option>
                </select>
                <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span>
            </div>
        </div>

        <div class="classSize">
            <span class="datasetStatus-header">Class Size</span>
            <div class="dropdown-container">
                <input type="number" name="classSize" placeholder="Class Size" class="dropdown-input no-icon-right">
                <!-- <span class="dropdown-icon"><img src="../static/images/arrow-down.svg" alt=""></span> -->
            </div>
        </div>


        <button class="btn addBtn">Add</button>
    </div>

    <div class="table-responsive">
        {% include 'includes/facultyLoadTable.html' %}
    </div>
</div>