<table class="table">
    <thead>
        <tr>
            <th>Section</th>
            <th>Class Size</th>
            <th>Course Code</th>
            <th>Type of Exam</th>
            <th>Instructor</th>
            <th>Instructor Designation</th>
            <th>Room</th>
            <th>Room Size</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="edit-btn">
                    <img src="./static/images/edit-icon.svg" alt="">
                </button>
                <button class="delete-btn">
                    <img src="./static/images/delete-icon.svg" alt="">
                </button>
            </td>
        </tr>
    </tbody>
</table>