<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" id="brand-link" href="#">
            <img src="./static/images/OES LOGO new.svg" alt="" width="80" height="50"
                class="d-inline-block align-text-center" id="logo">
            <span class="title">
                <span class="title-full">Optimize Exam Scheduler</span>
                <span class="title-abbr">OES</span>
            </span>
        </a>

        <div class="profile">
            <button class="btn" id="profileBtn">
                <img src="./static/images/user.svg" alt="" id="user-img">
                <img src="./static/images/arrow-down.svg" alt="">
            </button>
        </div>

        <div class="profile-info" id="profile-info">
            <p id="username">{{ username }}</p>
            <span id="user-email">{{ email }}</span>
            <hr>
            <button class="btn" id="logout-btn">Logout</button>
        </div>
    </div>
</nav>
<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>