<div class="container-fluid my-1 p-3 rounded dashBorad-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-start fs-5 fw-bolder">User Logs</h2>
        
        <div id="rigth-side">
            <!-- <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search...">
                <button id="searchbtn">
                    <img src="../static/images/search icon.svg" alt="">
                </button>
            </div> -->
            <div class="filter">
                <button class="btn filter-action dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter Actions
                </button>
                <div class="dropdown">
                    <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="All"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Logged In"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Registered"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Updated"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Deleted"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Exam Generated"></li>
                        <li><input class="dropdown-item" type="submit" form="filterForm" name="action" value="Logged Out"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <form id="filterForm" method="POST"action="#">
            <input type="hidden" name="filter" value="true">
        </form>
        
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr class="bg-success text-white" id="table-head">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.Username }}</td>
                    <td>{{ log.email }}</td>
                    <td>{{ log.Action }}</td>
                    <td>{{ log.Timestamp }}</td>
                </tr>                        
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

