<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <title>DNSC - Optimize Exam Scheduler</title>
</head>
<body>
    <section class="background-section">
        <div class="left-side">
            <div class="left-side-container">
                <img src="{{ url_for('static', filename='images/LEFT SIDE.svg') }}" alt="">
            </div>
        </div>
        <div class="right-side">
            <div class="signin-container">
                <h6>Sign in</h6>
                {% if error %}
                <div class="alert alert-danger alert-msg" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <form method="POST" action="{{ url_for('login') }}" class="login-form">
                    <div class="login-identifyProviders">
                        <input type="text" class="input" placeholder="Username" id="username" name="username" required>
                        <!-- <input type="password" class="input" placeholder="Password" id="password" name="password" required> -->
                        
                        <div class="input-wrapper">
                            <input type="password" class="input" placeholder="Password" id="password" name="password" required>
                            <button type="button" class="toggle-password" id="togglePassword">
                                <img src="{{ url_for('static', filename='images/eye-close.svg') }}" alt="Show" id="toggleIcon">
                            </button>
                        </div>
                        <button type="submit" class="btn btn-sm" id="login-button">Log in</button>
                        <a href="" id="lost-password">Lost password?</a>
                    </div>
                </form>
                <hr>
                <div class="login-identifyProviders">
                    <p class="p-msg-user-account">Sign in using your DNSC Account</p>
                    <button class="btn btn-sm btn-google-ms" id="google-account-btn">
                        <img src="{{ url_for('static', filename='images/google-icon.svg') }}" alt="" class="icons-google">
                        DNSC Google
                    </button>
                    <!-- <button class="btn btn-sm btn-google-ms">
                        <img src="{{ url_for('static', filename='images/microsoft-icon.svg') }}" alt="" class="icons-ms">
                        DNSC Microsoft
                    </button> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Include the login.js script -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>